<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-screenshot-detection" version="1.0.0">
    <name>ScreenshotDetection</name>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>Screenshot detection to protect sensitive data.</string>
        </config-file>
        <source-file src="src/ios/ScreenshotDetection.m" />
    </platform>
    <js-module src="www/screenshot-detection.js" name="screenshotdetection">
    <clobbers target="cordova.plugins.screenshotdetection"/>
    </js-module>
</plugin>